/*Overall*/ 
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: linen;
}
/*HEADER*/  

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  border-bottom: 1px solid #ccc;
}

ul {
  display: flex;
list-style: none;
padding: 0;
}

li{
margin-left: 5rem;
}

a{
color:black;
text-decoration: none;
}
/*class category*/

.cathegory-img {
  width: 50%;
}

/*CATEGORY SECTION Books A-Z*/        
.category-container {
display:grid;
  grid-template-columns: repeat(3, 1fr);
  gap:40px;
  max-width:1000px;
  margin:40px auto;
  text-align:center;
}

/* Main Section home page*/
.intro {
text-align: center;
padding: 50px 20px;
}

/*search bar*/
#search-entry{
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  background-color: black;
  color:white;
  cursor: pointer;
}
#search-bar {
  width: 300px;
  padding: 12px 15px;
  border-radius: 30px;
  border: 1px solid#ccc;
}

form {
  display: flex;
  justify-content: center;
}
/*most popular section on main*/
.popular {
  border-top: 1px solid rgba(0,0,0,0.1);
  margin-top: 60px;
  padding-top: 30px;
  text-align: center;
}

/*Book-grid*/
.book-grid {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.book-card {
 width: 100px;
  height: 100px;
  border-radius: 8px;
}

.features {
  display: flex;
  justify-content: center;
  gap: 60px;
  text-align: center;
}

/*CATEGORY SECTION  most popular Books  3st*/  
.cathegory-pop {
  width: 25%;
}
      
.category-popular{
  display: flex;
  justify-content: center;
  gap: 50px;
}
.category-popular img {
  width: 120px;
}
.books-title {
  text-align: center;
  margin: 40px 0;
  font-weight: 600;
}
.cart-main {
  text-align: center;
  margin: 40px 0;
  font-weight: 600;
}
.price { 
  font-weight:600;
  margin:5px 0;
}

.cart-main {
  text-align: center;
  margin-top: 40px;
}

#cart-items {
  max-width: 700px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #fafafa;
}

.cart-item h3 {
  margin: 0;
}

.cart-item button {
  background: #222;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer
}

.cart-item button:hover {
  background: #555;
}